<!--<button mat-button color="warn"  (click)="addCar()" >{{buttonText}}</button>
<p>{{ addCarStatus }}</p>
<hr>

<input type="text" name="" (keyup)="onKeyUP($event)" class="form-control">-->
<!--<input type="text" name="" (keyup)="onKeyUP2($event)" class="form-control">-->
<!--<span>{{ inputText }}</span>-->
<!--<input type="text" name="" class="form-control" [(ngModel)]="inputText">-->

<hr>

<!--<app-car></app-car>-->
<!--<app-ngifelse></app-ngifelse>

<app-ng-class></app-ng-class>

<app-pipes></app-pipes>

<app-carss></app-carss>-->

<app-tables></app-tables>